.container_actu {
  width: 75%;
  margin: 30px auto;
  .input_actu {
    margin-bottom: 20px;
  }
  .container_content_actu {
    margin: 20px 0;
    .content_actu {
      font-family: "Poppins";
    }
  }
}
