@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.connexion {
  margin: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eeeeee;
    background-color: #2d4059;
    border-radius: 20px;
    padding: 4vh 0;
    .message * {
      color: white;
      text-decoration: none;
      text-decoration: underline;
    }
    .title {
      text-decoration: underline;
    }
    .label {
      font-size: 1.3rem;
      text-decoration: underline;
      margin-bottom: 10px;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1.1rem;
      width: 33%;
      height: 45px;
      border-radius: 5px;
      box-shadow: 6px 6px 0 #ff56224e;
      background-color: #ff5722;
      transition: all 0.15s linear 0s;
      cursor: pointer;
    }
    .button:hover {
      transform: translate(5px, 5px);
      background-color: #bd2e02;
      box-shadow: none;
    }
    .email_container {
      margin-bottom: 4vh;
    }

    .email_container,
    .password_container {
      width: 90%;
      .email,
      .password {
        width: 90%;
        padding: 10px;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 1.125rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        outline: none;
      }
      .email:focus,
      .password:focus {
        caret-color: #ff5722;
        border: #ff5722 2px solid;
      }
      .forgotpassword {
        margin-top: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .message {
      margin: 3vh 0;
    }
    .error {
      margin: 0 40px;
      text-align: center;
    }
  }
}
@media screen and (max-width: 500px) {
  .connexion {
    .box {
      width: 430px;
    }
  }
}
