.container_video_depots {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0;
  justify-content: center;
  .video_presentation {
    width: 60%;
    height: 100%;
  }
  .bouton_redirect {
    margin-left: 30px;
    font-size: 4rem;
    cursor: pointer;
    &:hover {
      color: #fd4c00;
    }
  }
}

.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0;
  .coordonnees {
    width: 30vw;
    font-size: 1.4rem;
  }
  .titre_coordonnees {
    font-size: 1.7rem;
    text-decoration: underline;
  }
}

@media screen and (max-width: 950px) {
  .container_video_depots {
    .video_presentation {
      width: 90%;
      height: 100%;
    }

    .bouton_redirect {
      display: none;
    }
  }

  .carousel {
    flex-direction: column;
    .coordonnees {
      width: auto;
      height: auto;
      margin: 0 50px;
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
    .titre_coordonnees {
      font-size: 1.5rem;
      text-decoration: underline;
    }
  }
}
