$red: #cf063c;
$orange: #fd4c00;
$dark_b: #1b262a;

.footer {
  padding-top: 10px;
  width: 100%;
  height: auto;
  background-color: #0c0c0c;
  opacity: 0.86;
  .haut {
    display: flex;
    justify-content: center;
    width: 100%;
    .container_barre {
      display: flex;
      align-items: flex-end;
      padding: 26px 10px;
      width: 25vw;
      .barre {
        width: 25vw;
        height: 10px;
        border-radius: 10px;
        background-color: $red;
      }
    }
    .logo_footer {
      width: 38vw;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .milieu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      padding: 0;
      width: 80%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      font-size: 1.2em;
      * {
        position: relative;
        cursor: pointer;
      }
      *::after {
        content: "";
        position: absolute;
        border-radius: 3px;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s;
      }
      *:hover::after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }

      * {
        text-decoration: none;
        color: white;
      }
    }
    .container_barre {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      .barre {
        width: 90vw;
        height: 10px;
        border-radius: 10px;
        background-color: $orange;
      }
    }
  }
  .bas {
    width: 100%;
    color: white;
    text-align: center;
    .dsl {
      width: auto;
      margin: 5vh 0 2vh 0;
      img {
        height: auto;
        width: 13vw;
      }
    }
    .infos {
      padding: 2vh 0 4vh 0;
      width: auto;
      .position {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          vertical-align: middle;
          margin-left: 5px;
        }
        img {
          vertical-align: middle;
        }
      }
      .mentions_politique {
        margin-right: 10px;
        font-family: Poppins;
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.75rem;
        a {
          color: gray;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          color: gray;
        }
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .footer {
    .milieu {
      ul {
        font-size: 1rem;
      }
    }
    .bas {
      .infos {
        .mentions_politique {
        justify-content: center;
        }
      }
    }
  }
}
@media screen and (max-width: 866px) {
  .footer {
    .milieu {
      ul {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 717px) {
  .footer {
    .haut {
      .container_barre {
        .barre {
          height: 6px;
        }
      }
      .logo_footer {
        width: 38vw;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .milieu {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        font-size: 1.1rem;
        padding: 0;
        width: 80%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        * {
          position: relative;
          cursor: pointer;
          padding: 5px 0;
        }
        *::after {
          content: "";
          position: absolute;
          border-radius: 3px;
          width: 100%;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: white;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.25s;
        }
        *:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }

        * {
          text-decoration: none;
          color: white;
        }
      }
      .container_barre {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        .barre {
          width: 90vw;
          height: 6px;
          border-radius: 10px;
          background-color: $orange;
        }
      }
    }
    .bas {
      .infos {
        .position {
          margin: 0;
        }
      }
    }
  }
}
